header{

    background-color: wheat;
    font-size: 200px;

}
section{

    color: blue;
}
body{

    background-color: black;
    margin: 0%;
}
footer{background-color: gray;
height: 250px;


}
/*
background-color: maroon;
color: aliceblue;
height: 50px;
width: 50%;

Header{
}